# .github/workflows/release.yml

name: Release

on:
  pull_request:
    types: [closed]

jobs:
  NET:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.x.x'
    - name: Add nu-get source
      run: > 
        dotnet nuget add source --username Deadalus --password ${{ secrets.PACKAGES_GA_TOKEN }} 
        --store-password-in-clear-text --name Deadalus "https://nuget.pkg.github.com/DaedalusTeam/index.json"
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --configuration Release --no-build --verbosity normal

  Create_Git_Tag:
    runs-on: ubuntu-latest
    needs: NET
    outputs:
      tag-version: ${{ steps.get_tag.outputs.version }}
    steps:    
    - name: Create Tag
      id: run_tag
      uses: K-Phoen/semver-release-action@master
      with:
        release_branch: master
        tag_format: "%major%.%minor%.%patch%"
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN_GA }}
        
    - name: Print tag from Create_Git_Tag
      run: echo ${{ join(steps.run_tag.outputs.*, '\n') }}
        
    - name: Save tag
      id: get_tag
      run: echo "version=$(echo ${{ join(steps.run_tag.outputs.*, '\n') }})" >> "$GITHUB_OUTPUT"

  Create_Docker_Image: 
    runs-on: ubuntu-latest
    needs: Create_Git_Tag
    env:
      TAG: ${{needs.Create_Git_Tag.outputs.tag-version}}
    steps:
      - name: Print tag version from Create_NuGet
        run: echo "$TAG"
